!!!
%html
  %head
    %title Rails and React III: Communication between components
    = include_gon
    %link{href: "https://fonts.googleapis.com/css?family=Fjalla+One|Average+Sans", rel: "stylesheet", type: "text/css"}/
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    #main_wrapper
      = yield
    %footer#main_footer
      %small
        Crafted with ♥ by
        %a{href: "http://twitter.com/bigardone", target:"_blank"} bigardone
        %br/
        Check out the
        %a{href: "https://github.com/bigardone/rails_and_react/tree/feature/part_three", target: '_blank'} source code
